<launch>

  <node pkg="rqt_reconfigure" name="rqt_reconfigure" type="rqt_reconfigure" output="log"/>

  <node name="PID_Tuning"     pkg="dynamic_parameters" type="server.py"     output="screen"></node>
  
  <!-- node name="Updates" pkg="dynamic_parameters" type="get_values.py" output="screen"></node-->

  
</launch>
